.main {
  min-height: calc(100vh - var(--sd-nav-height));
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 32px var(--page-gutter) 64px;
}

.mainFullBleed {
  min-height: calc(100vh - var(--sd-nav-height));
}
