html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #111;
}

#root {
  max-width: none !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: left !important;
}