# node
node_modules/
**/node_modules/

# mac
.DS_Store

# Environment variables
.env
**/.env
**/.env.*

# ShotDeck import artifacts
/data/sd/
/data/shotdeck/
/server/src/importShotdeckShots.js
/infra/

# README
README.md
